[submodule "ai_refs/win32"]
	path = ai_refs/win32
	url = https://github.com/halildurmus/win32.git
[submodule "ai_refs/salamander"]
	path = ai_refs/salamander
	url = https://github.com/OpenSalamander/salamander.git
[submodule "ai_refs/files"]
	path = ai_refs/files
	url = https://github.com/files-community/Files.git
[submodule "ai_refs/doublecmd"]
	path = ai_refs/doublecmd
	url = https://github.com/doublecmd/doublecmd.git
[submodule "ai_refs/i3"]
	path = ai_refs/i3
	url = https://github.com/i3/i3.git
[submodule "ai_refs/mq-dir"]
	path = ai_refs/mq-dir
	url = https://github.com/h5nam/mq-dir.git
[submodule "ai_refs/office-open-xml-viewer"]
	path = ai_refs/office-open-xml-viewer
	url = https://github.com/yukiyokotani/office-open-xml-viewer.git
[submodule "ai_refs/markdown-it"]
	path = ai_refs/markdown-it
	url = https://github.com/markdown-it/markdown-it.git
[submodule "ai_refs/github-markdown-css"]
	path = ai_refs/github-markdown-css
	url = https://github.com/sindresorhus/github-markdown-css.git
